<div class="album-popular flex flex-col">
    <div class="title mb-2">
        <p class="text-lg font-bold text-neutral-300">Popular Albums</p>
    </div>
    <div class="items flex gap-4">

                        

        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    // Fetch albums
                    const albumResponse = await fetch('/albums');
                    const albumData = await albumResponse.json();
                    const albums = albumData.albums;
                    const albumContainer = document.querySelector('.album-popular .items');

                    if (albums.length === 0) {
                        const noAlbumsMessage = document.createElement('div');
                        noAlbumsMessage.classList.add('bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[250px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4');
                        noAlbumsMessage.innerHTML = `
                        <img src="../images/nothing.png" alt="noData" class="w-[225px] rounded-md">
                        <div class="desc-none flex flex-col justify-center items-center">
                            <h1 class="title-playlist font-medium text-white">DATA ALBUM BELUM ADA</h1>
                            <p class="desc-playlist text-neutral-300">Silahkan Masukkan Data</p>
                        </div>
                        `;
                        albumContainer.appendChild(noAlbumsMessage);
                    } else {
                        albums.forEach(album => {
                            const albumItem = document.createElement('div');
                            albumItem.classList.add('list-items', 'bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[250px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4');
                            albumItem.innerHTML = `
                                <img src="../images/liked.png" alt="cover" class="w-[225px] rounded-md">
                                <div class="flex justify-between">
                                    <div class="desc mt-2">
                                        <h1 class="title-playlist font-medium text-white">${album.name}</h1>
                                        <p class="desc-playlist text-neutral-300">Created by. Artist Name</p>
                                    </div>

                                    

                                </div>   
                            `;
                            albumContainer.appendChild(albumItem);
                        });
                    }
                } catch (error) {
                    console.error("Error fetching data:", error);
                }
            });
        </script>
    </div>
</div>