<div class="my-albums flex flex-col mt-2">
    <div class="title mb-2">
        <p class="text-lg font-bold text-neutral-300">My Albums</p>
    </div>
    <div class="items">
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    const artistId = '<%= artistId %>'
                    const myalbumsResponse = await fetch(`/myalbums?artistId=${artistId}`);
                    const myalbumsData = await myalbumsResponse.json();
                    const myalbums = myalbumsData.albums;
                    const myalbumsContainer = document.querySelector('.my-albums .items');

                    if (myalbums.length === 0) {
                        const nomyAlbumsMessage = document.createElement('div');
                        nomyAlbumsMessage.classList.add('bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[255px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4', 'justify-center', 'items-center');
                        nomyAlbumsMessage.innerHTML = `
                        <img src="../images/nothing.png" alt="noData" class="w-[225px] rounded-md">
                        <div class="desc-none flex flex-col justify-center items-center">
                            <h1 class="title-playlist font-medium text-white">DATA KAMU BELUM ADA</h1>
                            <p class="desc-playlist text-neutral-300">Silahkan Upload Album</p>
                        </div>
                        `;
                        myalbumsContainer.appendChild(nomyAlbumsMessage);
                    } else {
                        myalbums.forEach(myalbum => {
                            const myalbumItem = document.createElement('div');
                            myalbumItem.classList.add('list-items2', 'bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[255px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4');
                            myalbumItem.innerHTML = `
                                <img src="../images/album3.png" alt="cover" class="w-[225px] rounded-md">
                                <div class="desc mt-2">
                                    <h1 class="title-myalbum font-medium text-white">${myalbum.name}</h1>
                                    <p class="desc-myalbum text-neutral-300">By. ${myalbum.artist_name}</p>
                                </div>
                            `;
                            myalbumsContainer.appendChild(myalbumItem);
                        });
                    }
                } catch (error) { console.error("Error fetching data:", error); }
            });
        </script>
    </div>
</div>