<div class="button-left flex <%= userButtonleft %>">
    <button id="button-all" data-target="main" class="button-all rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        All
    </button>
    <button id="button-artists" data-target="artist-popular" class="button-artists rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        Artist
    </button>
    <button id="button-users" data-target="newest-user" class="button-artists rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        User
    </button>
    <button id="button-albums" data-target="album-popular" class="button-albums rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer"">
        Albums
    </button>
    <button id="button-playlists" data-target="playlist-popular" class="button-playlists rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer"">
        Playlists
    </button>
    <button id="button-songs" data-target="newest-song" class="button-songs rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        Songs
    </button>
</div>