<div class="button-left flex <%= artistButtonleft %>">
    <button id="button-myalls" data-target="main" class="button-myalls rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        All
    </button>
    
    <button id="button-myalbums" data-target="my-albums" class="button-myalbums rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        My Albums
    </button>
    
    <button id="button-mysongs" data-target="my-songs" class="button-mysongs rounded-full bg-neutral-800 hover:opacity-60 transition text-neutral-300 h-[42px] w-[100px] flex items-center justify-center hover:cursor-pointer">
        My Songs
    </button>
</div>