<div class="newest-user flex flex-col">
    <div class="title mb-2">
        <p class="text-lg font-bold text-neutral-300">Newest Users</p>
    </div>

    <div class="items flex gap-4">
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    const response = await fetch('/users');
                    const data = await response.json();
                    const users = data.users;
                    const userContainer = document.querySelector('.newest-user .items');

                    if (users.length === 0) {
                        const noUsersMessage = document.createElement('div');
                        noUsersMessage.classList.add('bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[250px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4');
                        noUsersMessage.innerHTML = `
                        <img src="../images/nothing.png" alt="noData" class="w-[225px] rounded-md">
                        <div class="desc-none flex flex-col justify-center items-center">
                            <h1 class="title-playlist font-medium text-white">DATA USER BELUM ADA</h1>
                            <p class="desc-playlist text-neutral-300">Silahkan Masukkan Data</p>
                        </div>
                        `;
                        // noSongsMessage.textContent = "Data belum ada";
                        userContainer.appendChild(noUsersMessage);
                    } else {
                        users.forEach(user => {
                            const userItem = document.createElement('div');
                            userItem.classList.add('list-items', 'bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[250px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4');
                            userItem.innerHTML = `
                                <img src="../images/liked.png" alt="cover" class="w-[225px] rounded-md">
                                <div class="desc">
                                    <h1 class="title-playlist font-medium text-white">${user.name}</h1>
                                    
                                </div>
                            `;
                            userContainer.appendChild(userItem);
                        });
                    }
                } catch (error) {
                    console.error("Error fetching data:", error);
                }
            });
        </script>
    </div>    
</div>