<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="../css/input.css">
    <link rel="stylesheet" href="../css/songBullets.css">
    <link rel="stylesheet" href="../css/playlistAddSong.css">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">

    <style>
        .swal-confirm-button-green { background-color: #28a745 !important; color: #fff !important; border-color: #28a745 !important; }
    </style>
        
    <title>Spotitip</title>
</head>