<main id="myAlbumToSong" class="profile-section bg-neutral-900 mt-3 mr-3 mb-3 rounded-md ml-[330px] flex flex-col gap-2 text-neutral-300">
    <div class="bg-gradient-to-b from-emerald-800 px-6 py-11 rounded-md flex w-full"></div>
    
    <div class="content p-5 flex flex-col gap-y-6 flex-wrap text-wrap">
        <div class="title mb-2"><p class="font-bold text-neutral-300">Add Song to Album</p></div>
    
        <div class="main flex gap-y-9 flex-col">

            <div class="searchBar">
                <form id="addSongToAlbumForm">
                    <label for="songNameDua" class="block text-sm font-medium text-grey-700 dark:text-neutral-300 mb-2 titleForm">Song Name : </label>
                    <input type="text" id="songNameDua" class="input font-semibold" name="songNameDua" placeholder="..." autocomplete="off" required>
                    
                    <label for="albumNameDua" class="block text-sm font-medium text-grey-700 dark:text-neutral-300 mb-2 titleForm">Album Name : </label>
                    <input type="text" id="albumNameDua" class="input font-semibold" name="albumNameDua" placeholder="..." autocomplete="off" required>

                    <button class="searchButton" type="submit">Add</button>
                </form>           
            </div>

        </div>
    </div>
</main>