<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link href="images/logo.png" rel="shortcut icon" type="image/x-icon" />

    <style>
        @charset "UTF-8";
        /* CSS Document */

        body {
            /* background: rgb(5, 150, 105); */
            background-color: black;
            padding: 0;
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
        }

        .container {
            /* background-color: rgb(5, 150, 105); */
            background-color: black;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
        }

        h3 {
            font-size: 32px;
            color: #3498db;
            font-weight: bold;
            text-align: center;
            line-height: 130%;
        }

        .buton {
            background: #3498db;
            padding: 10px 20px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            text-decoration: none;
        }

        a:hover {
            color: #00FF5B !important;
        }

        span {
            font-size: 24px;
            color: #FFF;
            font-weight: normal;
            text-align: center;
        }

        span a {
            color: rgb(5, 150, 105);
            text-decoration: none;
        }

        span a:hover {
            color: rgb(5, 150, 105);
        }
    </style>

</head>

<body>
    <div class="container">
        <img class="ops" src="images/404.svg" />
        <br />
        <h3>HALAMAN YANG ANDA CARI TIDAK DITEMUKAN.
            <br/>URL Tujuan Salah atau Tidak Tersedia.</h3>
        <br />
        <a class="buton" href="https://github.com/xcaliburone">XCALIBURONE</a>
    </div>
</body>

</html>