@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor: default; */
}

body::-webkit-scrollbar {
    display: none;
}

.cont {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    /* height: 767px; */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 187px;
}

main::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
}

.main {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
}

.main > section {
    display: none;
}

.main > section.active {
    display: block;
}

section {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 45px;
}

.list-items > img:hover {
    cursor: pointer;
    opacity: 60%;
}

.list-items > .desc h1:hover {
    cursor: pointer;
    opacity: 60%;
}

.list-items > .desc p:hover {
    cursor: pointer;
    opacity: 60%;
}

.active {
    background-color: #4CAF50; /* Warna latar belakang untuk tombol yang aktif */
    color: white; /* Warna teks untuk tombol yang aktif */
}

.input {
    padding: 21px;
    width: 250px;
    height: 38px;
    background: rgb(38, 38, 38);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #00FF5B;
    outline: none;
    transition: .5s;
}
/* .box:hover input{
    width: 250px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
    border: 1px solid #00FF5B;
} */

.registerAs {
    background-color: rgb(5, 150, 105);
    width: 100px;
    border: none;
    color: white;
    font-weight: 500;
}

.registerAs:hover {
    background-color: #00FF5B;
    cursor: pointer;
    color: black;
}

option {
    background-color: rgb(5, 150, 105);
}

option:hover {
    background-color: rgb(5, 150, 105);
    color: white;
}

option:focus {
    background-color: rgb(5, 150, 105);
    color: white;
}

option:active {
    background-color: rgb(5, 150, 105);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
}

.modal-content {
    background-color: rgb(38, 38, 38);
    margin: 15% auto;
    padding: 45px;
    border: none;
    border-radius: 16px;
    width: 80%;
}

/* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-song:hover,
.close-song:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* bg-neutral-800 hover:opacity-60 transition rounded-xl h-[34px] w-full text-neutral-300 */

#createModalButtonCreate,
#createModalButtonSong {
    /* background-color: rgb(115, 115, 115); */
    background-color: rgb(38, 38, 38);
    /* margin-top: 12px; */
    height: 100px;
    overflow: hidden;
}