@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#searchScreen2,
#albumSong {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.side-top > button {
    height: 35px;
    overflow: hidden;
}

.button-left {
    column-gap: 25px !important;
}

.cont {
    width: 1365px;
    height: 100%;
}

main {
    width: 100%;
    /* height: 767px; */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 150px; */
    /* padding-bottom: 125px; */
    padding-bottom: 90px;
}

.emptyDatas {
    width: 1320px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: -5px !important;
}

#noInput {
    margin-bottom: -6px !important;
    opacity: 0% !important;
}

.list-items {
    width: 260px !important;
    padding-bottom: 21px !important;
}

.list-items2 {
    width: 260px !important;
    padding-bottom: 320px !important;
}

main::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
}

.searchTitle {
    font-size: 50px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
}

.searchBar {
    /* background-color: #00FF5B; */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* column-gap: 20px; */
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.searchBar button {
    margin-top: 20px;
    background-color: #00A97F;
    width: 600px;
    height: 35px;
    border-radius: 25px;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    color: #2f303d;
    font-weight: bold;
    padding: 8px;
}

.searchBar button:active {
    margin-top: 20px;
    background-color: #00FF5B;
    width: 600px;
    height: 35px;
    border-radius: 25px;
    transform: scale(0.95);
}

.input {
    /* display: flex; */
    padding: 30px;
    width: 600px;
    height: 45px;
    background: rgb(38, 38, 38);
    border-radius: 25px;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #00FF5B;
    outline: none;
    /* transition: .5s; */
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.mainHeadArtistTitle, .mainHeadUserTitle {
    font-size: 50px;
}

.main {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
}

.main > section {
    display: none;
}

.main > section.active {
    display: block;
}

section {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 45px;
}

.list-items > img:hover {
    cursor: pointer;
    opacity: 60%;
}

.list-items > .desc h1:hover {
    cursor: pointer;
    opacity: 60%;
}

.list-items > .desc p:hover {
    cursor: pointer;
    opacity: 60%;
}

.active {
    background-color: #4CAF50; /* Warna latar belakang untuk tombol yang aktif */
    color: white; /* Warna teks untuk tombol yang aktif */
}

.active-top {
    color: #4CAF50; /* Warna latar belakang untuk tombol yang aktif */
    /* color: white; Warna teks untuk tombol yang aktif */
    
}

/* .box:hover input{
    width: 250px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
    border: 1px solid #00FF5B;
} */

.registerAs {
    background-color: rgb(5, 150, 105);
    width: 100px;
    border: none;
    color: white;
    font-weight: 500;
}

.registerAs:hover {
    background-color: #00FF5B;
    cursor: pointer;
    color: black;
}

option {
    background-color: rgb(5, 150, 105);
}

option:hover {
    background-color: rgb(5, 150, 105);
    color: white;
}

option:focus {
    background-color: rgb(5, 150, 105);
    color: white;
}

option:active {
    background-color: rgb(5, 150, 105);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
    color: #000;
}

.modal-content {
    background-color: rgb(38, 38, 38);
    margin: 15% auto;
    padding: 45px;
    border: none;
    border-radius: 16px;
    width: 80%;
}

/* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-song:hover,
.close-song:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* bg-neutral-800 hover:opacity-60 transition rounded-xl h-[34px] w-full text-neutral-300 */

#createModalButtonCreate,
#createModalButtonSong,
#createModalSongToPlaylist {
    /* background-color: rgb(115, 115, 115); */
    background-color: rgb(38, 38, 38);
    /* margin-top: 12px; */
    height: 100px;
    overflow: hidden;
}

/* --heart-color: rgb(5, 150, 105); */

.btnFollow {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btnFollowDelay {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    /* transition: .5s; */
    position: relative;
    overflow: hidden;
    cursor: not-allowed;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btnFollow::after, .btnFollow::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btnFollow::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btnFollow:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btnFollow:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btnFollow:hover {
    color: var(--color2);
}

.btnFollow:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}