*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor: default; */
}

.profileEmpty {
    width: 8000px !important;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    height: 855px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    column-gap: 16px !important;
    /* row-gap: 10px !important; */
    flex-wrap: wrap;
}

.sideProfileUser > button,
.sideProfileArtist > button {
    height: 100px;
    background-color: rgb(38, 38, 38);
    overflow: hidden;
}

.active {
    background-color: #4CAF50 !important; /* Warna latar belakang untuk tombol yang aktif */
    color: white; /* Warna teks untuk tombol yang aktif */
}

.title {
    font-size: 50px;
}

.user-item,
.artist-item {
    margin-bottom: 48px;
    /* margin: 0 20px 48px 20px; */
    /* gap: 30px !important; */
    justify-content: space-between;
    align-items: center;
    padding: 25px 55px 25px 35px !important;
}

#profile-pic-input-btn {
    background-color: #00A97F !important;
}

/* #userLogoutBtn,
#artistLogoutBtn {
    margin-bottom: 10px;
} */

#userLogoutBtn:hover,
#artistLogoutBtn:hover {
    opacity: 70% !important;
    cursor: pointer !important;
}

.searchTitle {
    font-size: 50px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
}

.searchBar {
    /* background-color: #00FF5B; */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* column-gap: 20px; */
    margin-top: 100px;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addSongToAlbumForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0px !important;
}

.titleForm {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 24px;
}

.searchBar button {
    margin-top: 20px;
    background-color: #00A97F;
    width: 600px;
    height: 35px;
    border-radius: 25px;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    color: #2f303d;
    font-weight: bold;
    padding: 8px;
}

.searchBar button:active {
    margin-top: 20px;
    background-color: #00FF5B;
    width: 600px;
    height: 35px;
    border-radius: 25px;
    transform: scale(0.95);
}

.input {
    /* display: flex; */
    padding: 30px;
    width: 600px;
    height: 45px;
    background: rgb(38, 38, 38);
    border-radius: 25px;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #00FF5B;
    outline: none;
    /* transition: .5s; */
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}