    <div class="lists flex gap-x-4 relative">

        <button id="aside-playlists-button" class="bg-neutral-800 hover:opacity-60 transition rounded-xl h-[35px] w-full text-neutral-300 <%= artistHide %>">
            My Playlists
        </button>
        <button id="aside-albums-button" class="bg-neutral-800 hover:opacity-60 transition rounded-xl h-[34px] w-full text-neutral-300">
            Albums
        </button>
    </div>

    <button id="createModalButtonCreate" class="hover:opacity-60 transition rounded-xl w-full text-neutral-300">
        + Create <%= modalName %>
    </button>

    <button id="createModalButtonSong" class="hover:opacity-60 transition rounded-xl w-full text-neutral-300 <%= userHide %>">
        + Upload Song
    </button>

    <button id="createModalSongToPlaylist" class="hover:opacity-60 transition rounded-xl w-full text-neutral-300 <%= artistHide %>">
        + Add Song to Playlist
    </button>

    <div class="list-items flex flex-col gap-y-4">

        <!-- item playlist dan album -->

    </div>

</div>