<div class="content p-5 flex flex-col gap-y-6 flex-wrap text-wrap">
        <div class="flex flex-col">
            <div class="title mb-2 ml-2">
                <p class="text-lg font-bold text-neutral-300">Pilih Playlist</p>
            </div>
            
            <div class="items flex gap-4">

                <form class="radio-form">
                    <input value="a" name="hopping" type="radio" id="a">
                    <label for="a"><span></span>A</label>

                    <input value="b" name="hopping" type="radio" id="b">
                    <label for="b"><span></span>B</label>
                    
                    <input value="c" name="hopping" type="radio" id="c">
                    <label for="c"><span></span>C</label>
                    
                    <div class="worm">
                      <div class="worm__segment"></div>
                    </div>
                </form>

                <script>
                </script>
            </div>
        </div>
    </div>
</div>