<main id="myUserArtistFollow" class="profile-section bg-neutral-900 mt-3 mr-3 mb-3 rounded-md ml-[330px] flex flex-col gap-2 text-neutral-300">
    <div class="bg-gradient-to-b from-emerald-800 px-6 py-11 rounded-md flex w-full"></div>
    
    <div class="content p-5 flex flex-col gap-y-6 flex-wrap text-wrap">
        <div class="title mb-2"><p class="font-bold text-neutral-300">Followed Artists</p></div>
        
        <div class="main flex">
            <script>
                document.addEventListener('DOMContentLoaded', async () => {
                    try {
                        const userId = '<%= userId %>'
                        const myUserArtistFollowsResponse = await fetch(`/myUserArtistFollows?userId=${userId}`);
                        const myUserArtistFollowsData = await myUserArtistFollowsResponse.json();
                        const userArtistFollows = myUserArtistFollowsData.userArtistFollows;
                        const myUserArtistFollowsContainer = document.querySelector('#myUserArtistFollow .main');
                        myUserArtistFollowsContainer.innerHTML = '';

                        if (userArtistFollows.length === 0) {
                            const noUserArtistFollowsMessage = document.createElement('div');
                            noUserArtistFollowsMessage.classList.add('profileEmpty', 'bg-neutral-800', 'rounded-md', 'overflow-hidden', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-10', 'justify-center', 'items-center');
                            noUserArtistFollowsMessage.innerHTML = `
                                <img src="/images/nothing.png" alt="noData" class="w-[225px] rounded-md">
                                <div class="desc-none flex flex-col justify-center items-center">
                                    <h1 class="title-playlist font-medium text-white">DATA MENGIKUTI ANDA BELUM ADA</h1>
                                    <p class="desc-playlist text-neutral-300">Silahkan Mengikuti Artist Terlebih Dahulu</p>
                                </div>
                            `;
                            myUserArtistFollowsContainer.appendChild(noUserArtistFollowsMessage);
                        } else {
                            userArtistFollows.forEach(userArtistFollow => {
                                const myUserArtistFollowsItem = document.createElement('div');
                                myUserArtistFollowsItem.classList.add('user-item', 'bg-neutral-800', 'rounded-md', 'overflow-hidden', 'w-[250px]', 'h-[320px]', 'flex', 'flex-col', 'gap-y-3', 'p-4', 'justify-center', 'items-center');
                                myUserArtistFollowsItem.innerHTML = `
                                    <img src="/images/profile.png" alt="cover" class="w-[225px] rounded-md"> <!-- Perubahan di sini -->
                                    <div class="desc mt-2">
                                        <h1 class="title-playlist font-medium text-white">${userArtistFollow.name}</h1>
                                    </div>
                                    <button class="btnFollowed" data-artist-id="${userArtistFollow.id}">Followed</button>
                                `;
                                myUserArtistFollowsContainer.appendChild(myUserArtistFollowsItem);
                            });
                        }
                    } catch (error) {
                        console.error("Error fetching user data:", error);
                    }
                });
            </script>
        </div>
    </div>
</main>