@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.list-items:hover {
    cursor: pointer;
}